<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" {% for i, ns in base.ns %}xmlns:{{i}}="{{ns}}" 
    {%endfor%}version="XHTML+RDFa 1.0" xml:lang="en">
    <head>
   <title>Instance of {{base.args.arg0}}</title>
    <link href="{{base.baseUrl}}/lodspeakr/css/basic.css" rel="stylesheet" type="text/css" media="screen" />
  </head>
  <body>
    <h1>Instances of {{base.args.arg0}}</h1>
	<ul>
	{% for row in r %}
        <li><a href='{{ row.resource.value }}'>{{row.resource.curie}}</a></li>
        {% endfor %}
    </ul>
  </body>
</html>

