RewriteEngine on

RewriteRule ^$ index.php [L]
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{SCRIPT_FILENAME} !.*/index.php$
RewriteRule ^(.*)$ index.php?q=$1 [L]
